body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 20px;
}

.container {
    max-width: 400px;
    margin: auto;
    background-color: palegoldenrod;
    padding: 20px;
    border-radius: 10px;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

h1 {
    color: darkblue;
    text-align: center;
}

.todo-list {
    list-style-type: none;
    padding: 10px;
}

.sub-item {
    margin-left: 20px;
    list-style-type: square;
}
.sub-item-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 5px;
}

.sub-item-link:hover {
    color: green;
}

.sub-item-link:focus {
    outline: 2px solid yellow;
}

.sub-item-link:active {
    color: red;
}

.sub-item-link:visited {
    color: purple;
}
